body,h1,h2,h3,h4,h5,h6,p,ul,li,ol,dl,dt,dd,a,i,em,b,strong,img,input{margin:0;padding:0;}
li{list-style:none;}
a{text-decoration:none;color:#231f20;}
i,em{font-style:normal;}
b,strong{font-weight:normal;}
input{border:none;background:none;outline:none;}
img,select,input{vertical-align:middle; }
textarea{outline:none;resize:none;}
img{display:block; border:none; }


.clearFix:after{content:'';clear:both;display:block;}
.clearFix{zoom:1;}
.fl{float:left;display:inline;}
.fr{float:right;display:inline;}

body{font: 12px "Microsoft Yahei","Tahoma","SimSun";
    background: #fff;
    color: #333;
	padding-bottom: 40px;
}
.wrap_1003{width:1003px;
    margin:0 auto;
}
.wrap_1060{width:1060px;
    margin:0 auto;
}
.wrap_1170{width:1170px;
    margin:0 auto;
}
.wrap_1044{width:1044px;
margin:0 auto;}
