html,body{overflow-x:hidden}

/*top*/
.top{background: #231f20;
    height:37px;
    color:#fff;
    line-height:37px;
}
.link{margin-top:8px;}
.web_widgets{background: url(../images/bg_flbtn.png) -63px 0 no-repeat;
    width:62px;
    height:22px;
    color:#fff;
    margin-right: 7px;}
.weibo{background:url(../images/bg_flbtn.png) -190px 0 no-repeat;
    width:16px;
    height:14px;
    margin:3px 4px 0 3px;  }
.attention{line-height:22px;}
.statistics{position: relative;}
.triangle{background: url(../images/bg_flbtn.png) -190px -16px no-repeat;
    position:absolute;
    top:-1px;
    left:-5px;
    width:6px;
    height:7px;
    margin-top:7px;}
.txt{
    width:43px;
    height:20px;
    text-align: center;
    line-height: 20px;
    background: #fdf7e2;
    border:1px solid #ecd181;
}
.txt a{color:#333;}
/* header*/
.header{
    height:105px;
    background: #fff;
    position: relative;}
h1{
    width:169px;
    height:73px;
    margin-top:12px;
    margin-left:20px;
    text-indent: -9999em;
    background: url(../images/logo.png)no-repeat;}
.nav_item{
    float:left;
    padding:0 25px;
    line-height:105px;
    background:url(../images/menu.jpg) right no-repeat;}
.nav_item a:hover{color:#f60;}
.nav_item_pos{
    position: absolute;
    top:105px;
    left:0;
    z-index: 13;
    width:100%;
    line-height:0;
    height:185px;
    background: #fff;
    border-top:1px dotted #ccc;
    display:none;}
.pinpai_ul{
    width:52px;
    padding:0 18px 18px 22px;
    margin-top:20px;
    border-right:1px dotted #ccc;}
.nav_item_pos li{line-height:26px;}
.nav_item_pos li a:hover{
    color:#f60;
    font-weight: bold;
    text-decoration: underline;}
.nav_item_pos_txt{margin-right: 74px;}
.pinpai_img{margin-top:24px;}
.pinpai_img li{margin-right:1px;}
.nav_item:hover .nav_item_pos{display:block;}

/*ad*/
.ad{background: #000;}
.tab{position: relative;}
.banner{height:400px;}
.banner img{width:100%;
    height:100%;}
.banner_list{display:none;
    height:400px;}
.show{display:block;}
.btn{position:absolute;
    right:0;
    bottom:12px;
    z-index: 12;}
.btn span{float:left;
    width:8px;
    height:8px;
    cursor: pointer;
    margin-right:5px;
    background:#d2d3d4;}
.btn span.active{background:#7a5e39;}

/*main_nav*/
.main_nav{height:40px;
    line-height: 40px;
    font-size:14px;
    color:#fff;
    margin-bottom:20px;
    background:#000;}
.main_nav a{color:#fff;
    padding: 0 12px;}
.main_nav a:hover{color:#f60;}
.main_nav input{color:#fff;
    font-size:12px;}
.main_nav input[type=text]{
    width:196px;
    font-size:12px;
    padding:4px 0 4px 4px;
    color:#000;
    background:url(../images/ss_input_bg.png) no-repeat right #fff;}

/*main*/
.main{margin-bottom:15px;}
.introduce_tab{width:330px;
    height:216px;
    margin-right:18px;
    position: relative;}
.introduce_banner{height:216px;}
.introduce_banner_item{height:216px;
    display: none;}
.introduce_banner_item img{width: 100%;
    height: 100%;}
.introduce_btn{
    position: absolute;;
    right: 20px;
    bottom: 10px;
}
.introduce_btn span{
    float:left;
    width:10px;
    height: 10px;
    background: #ccc;
    margin-right: 6px;
}
.introduce_btn span.active{background: #7a5e39;}
.show1{display:block;}

.news{width: 340px;
    margin-right: 15px;}
h3{
    font-size:18px;
    height:28px;
    border-bottom:1px solid #ccc;
}
.news_in{height:100px;
    }
.news_in_image{
    width:92px;
    height:80px;
    margin-top: 10px;
    margin-right: 8px;}
.news_in_image img{width:100%;
    height:100%;}
.news_in_txt{width:240px;
    margin-top: 15px;}
.news_in_txt a:hover{text-decoration: underline;}
.news_in_txt p{text-indent: 2em;}
.news_in_ul{
    padding-top: 7px;
    border-top:1px solid #ccc;}
.news_in_ul li{
    width:50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height:20px;
    background: url(../images/li.png) 0 no-repeat;
    text-indent: 10px;}
.news_in_ul li a:hover{color:#f60;
    text-decoration: underline;}
.news_tab{width:300px;
    height: 86px;
    position: relative;}
.news_banner_item{height:86px;
    display:none;}
.news_banner_item img{width:100%;
    height:100%;}
.news_btn{position: absolute;
    right:26px;
    bottom:6px;}
.news_btn span{width:6px;
    height: 6px;
    float:left;
    margin-right: 6px;
    background: #ccc;}
.news_btn span.active{background: #7a5e39;}
.show2{display:block;}


/*genre*/
.genre{
    }
.genre_tab{
    background:#efefef;
    line-height: 42px;
    margin:15px 0 8px;
    border:1px solid #bdbdbd;
}
.genre_tab_item{float:left;
    padding:0 40px;
    height:42px;
    line-height:42px;
}
.genre_tab_item a{color:#000;}
/*.genre_tab_item:hover{background:#000;
    }*/
.genre_tab_item:hover a{color:#fff;}
.genre_tab  li.active{background:#000;}
.genre_tab .active a{color:#fff;}
.genre_banner{
    display:none;
    }
.genre_banner_tab
    {overflow:hidden;
    height:33px;
    background: #efefef;
    line-height:33px;
    border:1px solid #bdbdbd;
   }
.genre_tab,.genre_banner_tab:after{content: '';clear: both;display: block;}

.genre_banner_tab_item{ float:left;
    padding:0 31px;}
.genre_banner_tab li.active{background: #fff;
    padding:0 30px 0 31px;
    margin-left:-1px;
    border-left:1px solid #dedede;
    border-right:1px solid #dedede;}
/*.genre_banner_tab_item:hover a{color:#f60;}*/
.genre_banner_tab li.active{background: #fff;}
.active a{color:#f60;}
.show3{display:block;}






.genre_banner_bottom{
    height:338px;
    border-bottom:1px solid #dedede;}
.genre_banner_bottom:after{content:'';clear: both;display: block;}
.show4{display:block;}
.feature{width:244px;
    padding-left:9px;
    height:338px;
    border-right:1px solid #dfdfdf;}

.genre_banner_tab_ul li{width:107px;
    height:87px;
    margin-bottom:6px;}
.mr18{margin-right:18px;}
.mr12{margin-right: 12px;}
.feature h4{font-size:12px;
    line-height:30px;}

.center{
	display:none;
	float:left;
	width:497px;
    height:338px;
    border-right:1px solid #dfdfdf;}
.center_top{margin:19px 0 7px;
    }
.center_top_img{
    width:120px;
    height:120px;
    margin:0 18px 0 15px;}
.center_top_img img{
    width:100%;
    height:100%;}
.center_top h4{font-size:16px;
    line-height: 16px;
    height:36px;
    padding-top:12px;}
.center_top_txt p{
    width:324px;
    text-indent: 2em;
    line-height:23px;
    color:#a48044;}
.center_top_txt p a{color:#f00;}

.center_bottom{margin:0 24px 0 12px;}
.center_bottom li{
    padding-left:10px;
    line-height:30px;
    border-bottom: 1px dashed #dedede;}
.center_bottom li a{
    padding-left:10px;
    background:url(../images/a_dian.png) 0 no-repeat;}
.center_bottom li a:hover{
    color:#f60;
    text-decoration: underline;
}
.genre_banner_bottom_r{width:251px;}
.genre_banner_bottom_r_img{display:block;
    width:226px;
    height:120px;
    margin:12px 0 15px 25px;
  }
.genre_banner_bottom_r_img img{
    width:100%;
    height:100%;}
.genre_banner_bottom_r_ul{
    line-height:25px;
    margin-left:40px;}
.genre_banner_bottom_r_ul li{
    padding-left:8px;
    background: url(../images/a_dian.png) 0 no-repeat;}
.genre_banner_bottom_r_ul li a:hover{text-decoration: underline;}



/*advert*/
.advert{
	display:block;
    width:1003px;
    height: 100px;
	margin:15px 0;
}
.advert img{
    width:100%;
    height:100%;}
.power_banner:after,.power_btn:after{content:'';clear: both;display: block;}
.power_banner{
    height:325px;
    border-bottom:1px  solid #dedede;
    display:none;}
.show6{display:block;}
.power_btn{
    line-height:33px;
    margin-bottom:30px;
    background:#efefef;
    border:1px solid #c3c3c3;
    }
.power_btn_item{
    float:left;
    padding:0 30px;
    border-right:1px solid #dedede;}
.power_btn li.active{
    background:#000;
   }
.power_btn li.active a{ color:#fff;}
.power_banner_item{
    width:180px;
    float:left;
    text-align: center;
    margin:0 20px 10px 44px;}
.power_banner_item img{
    width:100%;
    }
.power_banner_item p{margin-top:15px;}
.power_banner_it img{width:100px;
    height:120px;
    margin:0 auto;}
.active a{color:#f60;}

/*footer*/
.footer{
    height:320px;
    background:#231f20;}
.footer_top{

    margin-bottom:20px;
    border-bottom: 1px dashed #414141;}
.wrap_1170{overflow:hidden;}
.footer_top_nav{margin-right:-1px;}
.footer_top_nav_item
    {float:left;
    overflow:hidden;
    padding:15px 0 15px 28px;
    border-right: 1px dashed #414141;}
.w_148{width:148px; }
.w_118{width:97px;
    padding:15px 21px 15px 28px;}
.w_138{width:97px;
    padding:15px 41px 15px 28px;}
.w_130{width:130px;}
.tit{
    width:100%;
    display:block;
    height:28px;}
.footer_top h4{
    font-size:14px;
    }
.footer_top a{
    padding:0 6px;
    color:#fff;
    line-height:20px;
}
.text_link a{
    float:left;
padding:0 6px;
    color:#8f8b8c;}
.footer_top a:hover{color:#f60;text-decoration: underline;}
.foot_img{
    width:333px;
    height:52px;
    margin-top:6px;
    margin-right:27px;
    }
.foot_weix{
    width:80px;
    height:80px;
    margin-right:45px;}


.address{
    color:#fff;
    margin-top: 20px;
    line-height: 20px;}
.address a{color:#fff;}
.address a:hover{text-decoration: underline;}
.c_p{
    font-size:12px;
    line-height:12px;
    color:#7e7e80;}
.mt_p{margin-top:15px;
    margin-bottom:13px;}
	
	
	
/*footer_fix*/	

.footer_fix{
	width:100%;
	height:62px;
	background:url(../images/footer_Bj.jpg)repeat-x;
	position:fixed;
	left:0;
	bottom:0;
	z-index:1000;
	}

















