/* 
@charset "utf-8";
/* CSS Document */


body,h1,h2,h3,h4,h5,h6,p,ul,li,ol,dl,dt,dd,a,i,em,b,strong,img,input{margin:0;padding:0;}
li{list-style:none;}
a{text-decoration:none;color:#787878;}
i,em{font-style:normal;}
b,strong{font-weight:normal;}
input{border:none;background:none;outline:none;}
img,select,input{vertical-align:middle; }
textarea{outline:none;resize:none;}
img{display:block; border:none; }


.clearFix:after{content:'';clear:both;display:block;}
.clearFix{zoom:1;}
.fl{float:left;display:inline;}
.fr{float:right;display:inline;}

body{background:#fff; 
font-family: 'Hiragino Sans GB','WenQuanYi Micro Hei',tahoma,sans-serif,'宋体',\5B8B\4F53,Arial,sans-serif;;
font-size:12px;
    line-height:12px;
color:#3c2112;
}

.wrap{width:960px;
    margin:0 auto;
    }
.m_mt27{margin-top:27px;}
.m_mt30{margin-top:30px;}
.m_mt20{margin-top:20px;}
.m_mt10{margin-top:10px;}
