h1,h2,h3,h4,h5,h6,p,ul,li,ol,dl,dt,dd,a,i,em,b,strong,img,input,body{margin:0;padding:0}li{list-style:none}a{text-decoration:none}i,em{font-style:normal}b,strong{font-weight:normal}input{border:0;background:0;outline:0}textarea{outline:0;resize:none}img,input,select{vertical-align:top}.clearFix:after{content:'';clear:both;display:block}.clearFix{zoom:1}.fl{float:left;display:inline}.fr{float:right;display:inline}html{font-size:20px}html,body{width:100%;height:100%}header{height:50px;width:100%;background:#cf4646;line-height:50px;display:-webkit-box;position:fixed;left:0;top:0;z-index:1000}header h1{margin-left:2.5rem;-webkit-box-flex:1}header h1 a{color:#fff;font-size:18px}.banner{width:100%;height:376px;background:#cf4646;margin-top:50px;text-align:center}.banner img{margin-top:67px}.banner p{color:#fff;line-height:60px}.employ{border:1px solid #999;padding:5px;color:#fff}.content{margin:0 50px}.content li h2{line-height:50px;margin-top:30px}@media(min-width:990px){header ul{width:540px;height:50px;margin-right:2.5rem}header ul a{color:#fff;float:left;margin:0 10px;font-size:14px}.content li{width:50%;float:left;box-sizing:border-box;padding-right:30px}header span{display:none}}@media(min-width:768px) and (max-width:990px){.content li{width:100%;float:left}header ul{width:540px;height:50px;margin-right:2.5rem}header ul a{color:#fff;float:left;margin:0 10px;font-size:14px}header span{display:none}}@media(max-width:768px){.content li{width:100%;float:left}header ul{display:none}header span{display:block;background:url(../images/menu.png) no-repeat;width:52px;height:40px;margin-right:15px;margin-top:15px}}




























